html
  font-size: 20px

body
  margin: 0
  font: 1rem/1.6 Roboto,sans-serif
  background: #fff

a
  text-decoration: none
  color: #dd1d64

.container
  max-width: 880px
  padding: 0 20px
  margin: 0 auto

.button
  padding: 10px 36px
  cursor: pointer
  background-color: transparent
  font-weight: 500
  text-decoration: none
  color: #fff
  font-size: 1rem
  border-radius: 33px
  display: inline-block

.button-shadow
  background-color: #dd1d64

.page
  padding-bottom: 50px

.site-main
  margin: 50px 0

