body
  margin: 0
  font: 14px/1.4 Work Sans,sans-serif

.container
  max-width: 1080px
  padding: 0 1.125rem

.button
  padding: 10px 28px
  cursor: pointer
  background-color: transparent
  font-weight: 600
  text-decoration: none
  color: #fff
  font-size: 2rem
  border-radius: 33px
  display: inline-block

.button-shadow
  background-color: #dd1d64

.page
  padding-bottom: 50px
